@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;500;700&family=Cormorant+Infant:wght@300;500;600&family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.container3 {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.profile2 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  background-color: #cfc3c3;
  padding: 25px 35px;
  box-shadow: 2px 1px 9px 11px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 1px 9px 11px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 1px 9px 11px rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.background {
  background-attachment: fixed;
  background-color: teal;
  background-position-x: 50%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.contactme {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
}

.please {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn {
  color: seashell;
  background-color: crimson;
  border: none;
  padding: 8px 20px;
  border-radius: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.form {
  width: 500px;
}
.btn-f {
  border: none;
  background: #cfc3c3;
  text-align: center;
}
.footer {
  text-align: center;
}
